$width: 200px;
$height: 300px;

.card {
  cursor: pointer;
  margin: 20px 0px 0px 20px;
}

.cardimg {
  width: 50px !important;
  height: 175px;
  margin: auto;
  padding: 5px;
}

.detailsImg {
  width: 150px !important;
  height: 350px;
  margin: auto;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.foodPair {
  margin: 0px 10px 10px 0px;
}

.gravityDiff {
  margin-top: 10px;
}

.textJustify {
  text-align: justify;
}